<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg" sizes="32x32" href="../static/img/lion.svg">
    <title>Página Inicial</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles/stylesheet.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../static/styles/lading-page.css">
</head>
<body class="bg-light">
    <main class=" d-flex container mt-5">
        <div class="d-flex justify-content-center">
            <section id='follower' class="rounded ps-5 pt-5 pe-5 pb-3 border border-black">
                <div class="d-flex align-items-center border-bottom border-primary">
                    <img src="../static/img/lion.svg" id='icon' class="mb-2 me-2" alt="Logo">
                    <h1 class="text-primary">Lion</h1>
                </div>

                <div>
                    <p>Publicações: 1</p>
                    <p>Seguidores: 1</p>
                    <p>Seguindo: 1</p>
                </div>
                <div>
                    <div>
                        
                        <h3><i class="bi bi-person-circle me-2"></i>MateusSilva</h3>
                    </div>
                </div>
            </section>
    
            <section id='principal' class="rounded ">
                <div id="postar" class="rounded ps-5 pt-5 pe-5 pb-3 border border-black">
                    <div>
                        <h2><i class="bi bi-person-circle me-2"></i>Seu nick</h2>
                    </div>
                    <form action="">
                        <textarea name="" id="" cols="75" rows="5" class="border" required></textarea>
                        <div class="d-flex justify-content-end mt-2 mb-0">
                            <button type="reset" class='btn btn-danger'>Descartar</button>
                            <button type="submit" class="btn btn-primary ms-2">Publicar</button>
                        </div>
                    </form>
                </div>
                <div id=posts class="rounded ps-5 pt-5 pe-5 pb-3 border border-black mt-4">
                    <ul class="ps-0">
                        <div>
                            <div>
                                <div id='prefil' href="" class="d-flex">
                                    <h1 class='me-3'><i class="bi bi-person-circle"></i></h1>
                                    <h5 class="mt-2">MateusSilva</h5>
                                </div>
                                <div class="d-flex">
                                    <p class="ms-5 ps-2">Minha publicação aqui</p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end">
                                <h6 id='deslike' onclick='Like.deslike()' class="me-3"><i class="bi bi-hand-thumbs-down me-1"></i>Deslike</h6>
                                <h6 id='like' onclick="Like.like()"><i class="bi bi-hand-thumbs-up me-1"></i>Like</h6> 
                            </div>
                        </div>        
                    </ul>
                </div>
            </section>
    
            <section id='configs' class=" rounded p-3 rounded border border-black position-fixed">
                <div>
                    <a href="#"><i class="bi bi-person-circle fs-2 color-black"></i></a>
                </div>
                
                <div class="align-self-end">
                    <a href="#" ><i class="bi bi-gear-fill fs-2"></i></a>
                </div>
                    
            </section>
        </div>
    </main>
    <script src="../static/scripts/lading-page.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

</body>
</html>